html,body{height: 100%;width: 100%;overflow: hidden;}

.root{height: 100%;display: flex;flex-direction: column;
  .search{flex:0 0 auto;overflow: hidden;}
  .clipboard-list{flex:1;overflow-x: hidden;}

  .toolbar__content{padding: 0px 20px;}
}

.ellipse{display: block;flex:0 0 auto;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

::-webkit-scrollbar {
  width:8px;
  height:8px;
}

::-webkit-scrollbar-button{height: 0;}
::-webkit-scrollbar-track{background:transparent;}
::-webkit-scrollbar-track-piece {background:transparent;}
::-webkit-scrollbar-thumb{background:#e0e0e0;border-radius:999px;}
::-webkit-scrollbar-corner {height: 0;}
::-webkit-scrollbar-resizer  {height: 0;}